<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chitter</title>
</head>
<body>
  <h1>Welcome to Chitter</h1>
  <div class="container">
    <h2>Post your peep</h2>
    <form action="/api/post_peep" method="post">
      <input type="text" name="title">
      <input type="text" name="message">
      <input type="submit" value="Peep">
    </form>
  </div>

<div class="container">
  <h2>Previous Peeps</h2>
  <ul>
    <% peeps.each do |peep| %>
    <li class="peep">Title: <%= peep.title %> <br>Message: <%= peep.message %><br>
    Date created: <%= peep.created_at %></li>
    <% end %>
  </ul>
</div>
</body>
</html>